<div class="container row topnav">
    <div class="col-md-4 mt-4 offset-md-1">
        <div class="card">
            <div class="card-header text-white">
                Information
            </div>
            <div class="card-body">
                <marquee behavior="" direction="">
                    <h3 class="my-4">New Information</h3>
                </marquee>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="card">
            <div class="card-header text-white">
                Dashboard Details
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-users' %}">
                            <div class="card my-card shadow mb-2">
                                <div class="card-body text-center">
                                    <h4>Users</h4>
                                    <h3>{{ customer_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-goods' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Food</h4>
                                    <h3>{{ items_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-list' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>To-Buy</h4>
                                    <h3>{{ groceries_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>