<div class="row">
    <div class="col-md-11 mt-4">
        <div class="card offset-md-1">
            <div class="card-header bg-info text-white">
                Information
            </div>
            <div class="card-body">
                <marquee behavior="" direction="">
                    <h3 class="my-4">New Information</h3>
                </marquee>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11 mt-4">
        <div class="card offset-md-1">
            <div class="card-header bg-info text-white">
                Dashboard Details
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-users' %}">
                            <div class="card my-card shadow mb-2">
                                <div class="card-body text-center">
                                    <h4>Users</h4>
                                    <h3>{{ user_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-food' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Food</h4>
                                    <h3>{{ food_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-medicine' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Meds</h4>
                                    <h3>{{ medicine_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-list' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Needed</h4>
                                    <h3>{{ NeededItem_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    