{% load cloudinary_static %}

<div class="container topnav">
    <div class="row offset-md-3">
        <div class="col-md-8 mt-4">
            <div class="card">
                <div class="card-header text-white">
                    Information
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="">
                        <h3 class="my-4">New Information</h3>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
    <div class="row offset-md-2">
        <div class="col-md-10 mt-4">
            <div class="card">
                <div class="card-header text-white">
                    Dashboard Details
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-users' %}">
                                <div class="card my-card shadow mb-2">
                                    <div class="card-body text-center">
                                        <h4>Users</h4>
                                        <h3>{{ user_count }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-goods' %}">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h4>Food</h4>
                                        <h3>{{ food_count }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-list' %}">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h4>To-Buy</h4>
                                        <h3>{{ list_count }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="https://8000-dianaiscodi-individualp-rygt8odxbu1.ws.codeinstitute-ide.net/admin/" class="btn btn-info offset-md-5 mt-4">View Admin Panel</a>
</div>
