@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Sue+Ellen+Francisco&display=swap');



html{
    height: 100%;
}

/* HEADINGS */

h1,h2,h3,h4,h5,h6{
    font-family: "Amatic SC", sans-serif;
    color: rgb(56, 36, 48);
    font-weight: 700;
    font-style: normal;
}

/* Header Bars */
.navbar{
    background-color: rgb(114, 102, 138);
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
}

.card-header{
    background-color: rgb(114, 102, 138);
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
}

.bg-custom{
    background-color: rgb(114, 102, 138);
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
}

/* Buttons */
.btn{
    border: 0;
}

.btn-danger{
    background-color: rgb(253, 214, 212);
}

.btn-danger:hover{
    background-color: rgb(240, 159, 156);
}

.btn-secondary{
    background-color: rgb(219, 211, 206);
}

.btn-secondary:hover{
    background-color: rgb(168, 152, 142);
}

.btn-info{
    background-color: rgb(111, 85, 161);
}

.btn-info:hover{
    background-color: rgb(75, 52, 119);
}

.btn-success{
    background-color: rgb(161, 184, 184);
}

.btn-success:hover{
    background-color: rgb(94, 126, 126);
}

/* Decorations */
hr{
    color: rgb(114, 102, 138);
}

body{
    background-color: rgb(224, 211, 220);
}

.main{
    font-family: "Sue Ellen Francisco", cursive;
    color: rgb(64, 64, 64);
    height: 100%;
    display: flex;
    flex-direction: column;
}

