{% extends 'partials/base.html' %}
{% block title %} Update Items {% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Update Food</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ food_form|crispy }}
                    <a class="btn btn-secondary" href="{% url 'dashboard-goods' %}">Cancel</a>
                    <input class="btn btn-info" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}