{% extends 'partials/base.html' %}
{% block title %}Inventory Page{% endblock %}
{% load cloudinary_static %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/topnav.html' %}

<div class="row my-4 offset-md-1">
    <div class="col-md-4 mr-1">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add to Pantry</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-6 ml-3">
        <table class="table bg-white">
            <thead class="bg-custom text-white">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.quantity }} {{ item.units }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2" href="{% url 'dashboard-goods-update' item.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2" href="{% url 'dashboard-goods-delete' item.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}