{% extends 'partials/base.html' %}
{% block title %}Shopping List{% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}

<div class="row my-4">
    <div class="col-md-11 mt-4">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Bought</th>
                </tr>
            </thead>
            <tbody>
                {% for groceries in groceries %}
                <tr>
                    <td>{{ groceries.item }}</td>
                    <td>{{ groceries.item.category }}</td>
                    <td>{{ groceries.checked }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}