{% extends 'partials/base.html' %}
{% block title %}Shopping List{% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}

<div class="row my-4">
    <div class="col-md-10 offset-md-1 pl-0">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Bought</th>
                </tr>
            </thead>
            <tbody>
                {% for Grocery in Grocery %}
                <tr>
                    <td>{{ Grocery.item }}</td>
                    <td>{{ Grocery.item.category }}</td>
                    <td>{{ Grocery.checked }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}