{% extends 'partials/base.html' %}
{% block title %} Medicine {% endblock %}


{% block content %}

{% include 'partials/topnav.html' %}

<div class="row my-4">
    <div class="col-md-8 offset-md-2">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Products</h5>
            <hr>
            <form method="POST">
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-10 offset-md-1">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Medicine</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for Medicine in Medicine %}
                <tr>
                    <td>{{ Medicine.name }}</td>
                    <td>{{ Medicine.category }}</td>
                    <td>{{ Medicine.quantity }}</td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}