{% extends 'partials/base.html' %}
{% block title %} Medicine {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/topnav.html' %}

<div class="row my-4">
    <div class="col-md-3 offset-md-1 pl-0">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Products</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ med_form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Medicine</th>
                    <th scope="col">Category</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Doses</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for med_item in med_items %}
                <tr>
                    <td>{{ med_item.name }}</td>
                    <td>{{ med_item.category }}</td>
                    <td>{{ med_item.owner }}</td>
                    <td>{{ med_item.doses }} Doses</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2" href="{% url 'dashboard-med-update' med_item.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2" href="{% url 'dashboard-med-delete' med_item.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}