
{% load crispy_forms_tags %}

{% block content %}


<div class="row my-4 offset-md-1">
    <div class="col-md-10 mt-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <h1 class="mt-8">Shopping List</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Add</button>
        </form>
        <hr>
        <h2>You need to buy:</h2>
        <div class="row my-4">
            {% for item in groceries %}
            <ul class="col-md-8 ml-4">
                <li>{{ item }}</li>
            </ul>
            <div class="col-md-1 mt-2">
                <input type="checkbox" name="" id="">
            </div>
            {% endfor %}
        </div>
        <form method="post" style="margin-top: 10px;">
            {% csrf_token %}
            <button class="btn btn-info" type="submit" name="clear_list">Clear List</button>
        </form>
    </div>
</div>

{% endblock %}