{% extends 'partials/base.html' %}
{% block title %} Users {% endblock %}


{% block content %}

{% include 'partials/topnav.html' %}

<div class="container row">
    <div class="col-md-11 mt-4">
        <div class="card offset-md-1">
            <div class="card-header text-white">
                Active Users
            </div>
            <div class="row p-3">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <th scope="row"><a href="{% url 'dashboard-user-detail' customer.id %}" class="btn btn-info">View</a></th>
                            <td>{{ customer.username }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.profile.phone }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}